.usluge {
  // position: relative;
  z-index: 1;
  flex-basis: 100%;
  margin-top: 5vh;
  #usluge {
  }
  .usluge--down {
    @include flex(row, space-between, center);
    margin-left: 10vw;
    width: 80vw;
    margin-top: 510px;
    .usluge--naslovtwo {
      flex-basis: 30%;
      font-family: $Playful;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.38;
      letter-spacing: 1.2px;
      color: white;
      align-self: flex-start;
      padding-top: 25%;
    }

    .usluge--podnas {
      width: 500px;
      font-family: $Playful;
      font-size: 35px;
      font-weight: 500;
      line-height: 1.38;
      letter-spacing: 1.2px;
      text-align: left;
      color: white;
    }

    .usluge--navtwo {
      width: 40vw;
      padding-top: 13%;
      font-family: $Playful;
      line-height: 1;
      letter-spacing: 0.6px;
      text-align: left;
      color: white;
      & li {
        padding-bottom: 14%;
        font-size: 25px;
        list-style: none;
      }
      & li::before {
        color: $gold;
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
    .usluge--tst {
      display: none;
      font-family: $Playful;
      font-size: 30px;
      color: red;
    }
  }
}
.usluge--one {
  flex-basis: 30%;
  font-family: $Playful;
  font-size: 200px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 6px;
  text-align: left;
  color: white;
  align-self: flex-start;
  padding-left: 5vw;
}

.usluge--two {
  font-family: $Playful;
  font-size: 100px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 3px;
  text-align: left;
  color: white;
  padding-bottom: 50px;
  align-self: center;
}

.usluge--three {
  flex-basis: 30%;
  font-family: $Playful;
  font-size: 200px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 6px;
  text-align: left;
  color: black;
  padding-top: 250px;
}

.usluge--naslov {
  width: 700px;
  height: 41px;
  font-family: $Playful;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: 1.2px;
  text-align: center;
  color: black;
  padding-top: 16%;
  padding-left: 5vw;
}

.usluge--nav {
  width: 50%;
  height: 25px;
  margin-left: 7vw;
  padding-top: 80px;
  font-family: $Playful;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.3;
  letter-spacing: 0.8px;
  text-align: left;
  color: black;
  list-style-type: none;
  counter-reset: item;
  padding-left: 0px;
  & li::before {
    color: $gold;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

@media only screen and (max-width: 1366px) {
  .usluge {
    .usluge--down {
      .usluge--naslovtwo {
        font-size: 20px;
        padding-top: 20%;
      }
      .usluge--podnas {
        font-size: 30px;
      }
      .usluge--navtwo {
        min-width: 500px;
        font-size: 25px;
        & p {
          font-size: 18px;
        }
        & li {
          font-size: 20px;
        }
      }
    }
  }
  .usluge--one {
    font-size: 100px;
  }
  .usluge--two {
  }
  .usluge--three {
    width: 300px;
    font-size: 80px;
  }
  .usluge--naslov {
    font-size: 30px;
  }
  .usluge--fullnav {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .usluge {
    margin-top: 5vh;
    padding-top: 0%;
    height: auto;
    .usluge--down {
      background-color: black;
      @include flex(column, center, center);
      width: 100vw;
      margin-left: 0px;
      padding-top: 50px;
      .usluge--naslovtwo {
        font-size: 25px;
        padding-top: 0px;
        align-self: center;
        display: none;
      }
      .usluge--podnas {
        font-size: 30px;
        width: 80vw;
      }
      .usluge--navtwo {
        width: 80vw;
        min-width: 500px;
        font-size: 25px;
        padding-top: 5%;
        & p {
          font-size: 18px;
        }
        & li {
          font-size: 22px;
          padding-bottom: 5%;
        }
      }
      .usluge--tst {
        display: inline;
        width: 80vw;
        color: white;
        margin-bottom: 2%;
      }
    }
  }
  .usluge--one {
    font-size: 100px;
  }
  .usluge--two {
  }
  .usluge--three {
    color: white;
    width: 300px;
    font-size: 80px;
  }
  .usluge--naslov {
    font-size: 30px;
    padding-top: 2vh;
  }
  .usluge--fullnav {
    font-size: 20px;

    .usluge--nav {
      padding-top: 2vw;
      padding-bottom: 2vw;
    }
  }

  #usluge {
    background-color: black;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 800px) {
  span {
    .usluge {
      .usluge--one {
        font-size: 50px;
        // top: 80px;
      }
      .usluge--two {
        font-size: 50px;
        // left: 49vw;
        // top: 200px;
      }
      .usluge--three {
        // width: 150px;
        font-size: 50px;
        // left: 80vw;
        // top: 300px;
      }
      .usluge--naslov {
        font-size: 25px;
        // left: 5vw;
        // top: 650px;
      }
      .usluge--nav {
        font-size: 20px;
        // top: 780px;
        // left: 10vw;
      }
      .usluge--naslovtwo {
        font-size: 15px;
        // left: 10vw;
        // top: 1510px;
        // width: 250px;
      }
      .usluge--podnas {
        // width: 350px;
        font-size: 15px;
        // left: 50vw;
        // top: 1255px;
      }
      .usluge--navtwo {
        // left: 50vw;
        // top: 1400px;
        & p {
          font-size: 15px;
        }
        & li {
          font-size: 12px;
          // width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .usluge {
    width: 100vw;
    margin-top: 0px;
    border-top: 2px solid $gold;

    #usluge {
    }
    .usluge--down {
      margin-top: 300px;
      .usluge--naslovtwo {
        font-size: 20px;
      }
      .usluge--podnas {
        @include flex(row, center, center);
        font-size: 20px;

        width: 90vw;
        align-self: center;
        margin-left: 25vw;
      }
      .usluge--navtwo {
        & p {
          font-size: 10px !important;
          width: 90vw;
        }
        & li {
          font-size: 10px;
          width: 90vw;
          margin-left: 18vw;
        }
      }
      .usluge--tst {
        font-size: 15px;
        padding-bottom: 5vh;
      }
    }
  }
  .usluge--one {
    font-size: 30px !important;
  }
  .usluge--two {
    font-size: 30px !important;
  }
  .usluge--three {
    font-size: 30px !important;
  }
  .usluge--naslov {
    font-size: 20px !important;
    width: 100vw;
  }
  .usluge--fullnav {
    ul {
      li {
        font-size: 15px !important;
        width: 90vw;
      }
    }
  }
}

// @media only screen and (max-width: 320px) {
//   span {
//     .usluge {
//       .usluge--naslovtwo {
//         width: 260px;
//       }

//       .usluge--podnas {
//       }
//       #usluge--aktivnosti {
//         width: 320px;
//       }
//     }
//   }
// }
