.usluge {
  // position: relative;
  z-index: 1;
  flex-basis: 100%;
  padding-top: 5%;
}
.usluge--one {
  flex-basis: 30%;
  font-family: $Playful;
  font-size: 200px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 6px;
  text-align: left;
  color: white;
  align-self: flex-start;
  padding-left: 5vw;
}

.usluge--two {
  font-family: $Playful;
  font-size: 100px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 3px;
  text-align: left;
  color: white;
  padding-bottom: 50px;
  align-self: center;
}

.usluge--three {
  flex-basis: 30%;
  font-family: $Playful;
  font-size: 200px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 6px;
  text-align: left;
  color: black;
  padding-top: 250px;
}

.usluge--naslov {
  width: 700px;
  height: 41px;
  font-family: $Playful;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: 1.2px;
  text-align: center;
  color: black;
  // position: absolute;
  // left: 130px;
  // top: 1100px;
  padding-top: 16%;
  padding-left: 5vw;
}

.usluge--nav {
  width: 50%;
  height: 25px;
  margin-left: 7vw;
  padding-top: 80px;
  font-family: $Playful;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.3;
  letter-spacing: 0.8px;
  text-align: left;
  color: black;
  list-style-type: none;
  counter-reset: item;
  padding-left: 0px;
  & li::before {
    color: $gold;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.usluge--naslovtwo {
  flex-basis: 30%;
  font-family: $Playful;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 1.2px;
  color: white;
  align-self: flex-start;
  padding-top: 25%;
}

.usluge--podnas {
  width: 500px;
  font-family: $Playful;
  font-size: 35px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 1.2px;
  text-align: left;
  color: white;
}

.usluge--navtwo {
  width: 40vw;
  padding-top: 13%;
  font-family: $Playful;
  line-height: 1;
  letter-spacing: 0.6px;
  text-align: left;
  color: white;
  & li {
    padding-bottom: 14%;
    font-size: 25px;
    list-style: none;
  }
  & li::before {
    color: $gold;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

#usluge--aktivnosti {
}

@media only screen and (max-width: 1366px) {
  .usluge {
  }
  .usluge--one {
    font-size: 100px;
  }
  .usluge--two {
  }
  .usluge--three {
    width: 300px;
    font-size: 80px;
  }
  .usluge--naslov {
    font-size: 30px;
  }
  .usluge--nav {
    font-size: 20px;
  }
  .usluge--naslovtwo {
    font-size: 20px;
    padding-top: 20%;
  }
  .usluge--podnas {
    font-size: 30px;
  }
  .usluge--navtwo {
    min-width: 500px;
    font-size: 25px;
    & p {
      font-size: 18px;
    }
    & li {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .usluge {
    }
    .usluge--one {
      width: 200px;
      font-size: 50px;
    }
    .usluge--two {
      font-size: 50px;
    }
    .usluge--three {
      width: 250px;
      font-size: 50px;
    }
    .usluge--naslov {
      font-size: 25px;
      padding-top: 19%;
    }
    .usluge--nav {
      font-size: 20px;
    }
    .usluge--naslovtwo {
      font-size: 20px;
      min-width: 30vw;
    }
    .usluge--podnas {
      font-size: 25px;
    }
    .usluge--navtwo {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 800px) {
  span {
    .usluge {
      .usluge--one {
        font-size: 40px;
        top: 80px;
      }
      .usluge--two {
        font-size: 40px;
        left: 49vw;
        top: 200px;
      }
      .usluge--three {
        width: 150px;
        font-size: 40px;
        left: 80vw;
        top: 300px;
      }
      .usluge--naslov {
        font-size: 20px;
        left: 5vw;
        top: 650px;
      }
      .usluge--nav {
        font-size: 15px;
        top: 780px;
        left: 10vw;
      }
      .usluge--naslovtwo {
        font-size: 15px;
        left: 10vw;
        top: 1510px;
        width: 250px;
      }
      .usluge--podnas {
        width: 350px;
        font-size: 15px;
        left: 50vw;
        top: 1255px;
      }
      .usluge--navtwo {
        left: 50vw;
        top: 1400px;
        & p {
          font-size: 15px;
        }
        & li {
          font-size: 12px;
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  span {
    .usluge {
      .usluge--one {
        font-size: 30px;
        top: -380px;
        left: 30px;
        letter-spacing: 1.2px;
      }
      .usluge--two {
        font-size: 30px;
        left: 42vw;
        top: -370px;
        color: white;
      }
      .usluge--three {
        width: 500px;
        font-size: 30px;
        left: 25vw;
        top: -335px;
        letter-spacing: 1.2px;
        color: white;
      }
      .usluge--naslov {
        font-size: 16px;
        left: -194px;
        top: -220px;
        z-index: 100;
      }
      .usluge--fullnav {
        position: absolute;
        top: -222px;
        width: 360px;
        height: 350px;
        .usluge--nav {
          font-size: 12px;
          top: 50px;
          left: 42px;
        }
      }

      .usluge--naslovtwo {
        font-size: 12px;
        left: 30px;
        top: 500px;
        width: 280px;
      }

      .usluge--podnas {
        width: 300px;
        font-size: 14px;
        left: 30px;
        top: 30px;
      }
      #usluge--aktivnosti {
        z-index: -1;
        position: relative;
        top: 130px;
        width: 360px;
        height: 480px;
        background-color: black;
      }
      .usluge--navtwo {
        left: 0px;
        top: 80px;
        // color: purple;
        & p {
          font-size: 12px;
        }
        & li {
          font-size: 11px;
          width: 260px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  span {
    .usluge {
      .usluge--naslovtwo {
        width: 260px;
      }

      .usluge--podnas {
      }
      #usluge--aktivnosti {
        width: 320px;
      }
    }
  }
}
