span {
  .line {
    width: 100%;
    height: 0;
    border: 1px solid $gold;
    z-index: -1;
  }
  .backDiv {
    @include flex(row, left);
    .backDiv--lbgold {
      width: 0;
      height: 0;
      border-bottom: 1100px solid $gold;
      border-right: 1920px solid transparent;
      opacity: 0.7;
      position: absolute;
      z-index: -1;
      top: -90px;
    }
    .backDiv--lb {
      width: 0;
      height: 0;
      border-bottom: 1010px solid black;
      border-right: 1920px solid transparent;
      z-index: -1;
    }
    .backDiv--lt {
      width: 0;
      height: 0;
      border-top: 1104px solid black;
      border-right: 1920px solid transparent;
      position: absolute;
      z-index: -1;
    }

    .backDiv--ltgold {
      width: 0;
      height: 0;
      border-top: 1154px solid $gold;
      border-right: 1920px solid transparent;
      z-index: -1;
      filter: $filter;
    }
    .backDiv--rb {
      width: 0;
      height: 0;
      border-bottom: 1010px solid black;
      border-left: 1920px solid transparent;
      position: relative;
      z-index: -1;
      padding-bottom: 50px;
    }

    .backDiv--rbgold {
      width: 0;
      height: 0;
      border-bottom: 1060px solid $gold;
      border-left: 1920px solid transparent;
      position: absolute;
      z-index: -1;
      filter: $filter;
    }
    .backDiv--rt {
      width: 0;
      height: 0;
      border-top: 1010px solid black;
      border-left: 1920px solid transparent;
      z-index: -1;
    }

    .backDiv--rtgold {
      width: 0;
      height: 0;
      border-top: 1060px solid $gold;
      border-left: 1920px solid transparent;
      position: absolute;
      z-index: -1;
      filter: $filter;
    }
    .backDiv--para {
      margin-top: 535px;
      width: 1920px;
      height: 2185px;
      transform: skew(0deg, 30deg);
      background: black;
      z-index: -1;
    }
    .backDiv--paragold {
      margin-top: 530px;
      width: 1920px;
      height: 2200px;
      transform: skew(0deg, 30deg);
      background: $gold;
      z-index: -1;
      position: absolute;
      filter: $filter;
    }
  }
  .lastDiv {
    position: relative;
    .lastDiv--last {
      width: 0;
      height: 0;
      border-bottom: 197px solid black;
      border-right: 342px solid transparent;
      position: absolute;
      top: 700px;
      z-index: -1;
    }

    .lastDiv--lastgold {
      width: 0;
      height: 0;
      border-bottom: 227px solid $gold;
      border-right: 342px solid transparent;
      position: absolute;
      top: 670px;
      z-index: -1;
      filter: $filter;
    }
  }
}

@media only screen and (max-width: 1366px) {
  span {
    .backDiv {
      .backDiv--lbgold {
        border-bottom: 860px solid $gold;
        border-right: 1366px solid transparent;
      }
      .backDiv--lb {
        border-bottom: 768px solid black;
        border-right: 1366px solid transparent;
      }
      .backDiv--lt {
        border-top: 768px solid black;
        border-right: 1366px solid transparent;
      }
      .backDiv--ltgold {
        border-top: 808px solid $gold;
        border-right: 1366px solid transparent;
      }
      .backDiv--rb {
        border-bottom: 768px solid black;
        border-left: 1366px solid transparent;
      }
      .backDiv--rbgold {
        border-bottom: 818px solid $gold;
        border-left: 1366px solid transparent;
      }
      .backDiv--rt {
        border-top: 768px solid black;
        border-left: 1366px solid transparent;
      }
      .backDiv--rtgold {
        border-top: 808px solid $gold;
        border-left: 1366px solid transparent;
      }
      .backDiv--para {
        margin-top: 535px;
        width: 1366px;
        height: 1885px;
      }
      .backDiv--paragold {
        width: 1366px;
        height: 1900px;
      }
    }
    .lastDiv {
      .lastDiv--last {
        top: 776px;
      }
      .lastDiv--lastgold {
        top: 746px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .line {
      width: 1280px;
    }
    .backDiv {
      .backDiv--lbgold {
        border-bottom: 800px solid $gold;
        border-right: 1280px solid transparent;
      }
      .backDiv--lb {
        border-bottom: 710px solid black;
        border-right: 1280px solid transparent;
      }
      .backDiv--lt {
        border-top: 710px solid black;
        border-right: 1280px solid transparent;
      }
      .backDiv--ltgold {
        border-top: 760px solid $gold;
        border-right: 1280px solid transparent;
      }
      .backDiv--rb {
        border-bottom: 710px solid black;
        border-left: 1280px solid transparent;
      }
      .backDiv--rbgold {
        border-bottom: 760px solid $gold;
        border-left: 1280px solid transparent;
      }
      .backDiv--rt {
        border-top: 710px solid black;
        border-left: 1280px solid transparent;
      }
      .backDiv--rtgold {
        border-top: 760px solid $gold;
        border-left: 1280px solid transparent;
      }
      .backDiv--para {
        width: 1280px;
        height: 1685px;
      }
      .backDiv--paragold {
        width: 1280px;
        height: 1700px;
      }
    }
    .lastDiv {
      .lastDiv--last {
        top: 476px;
      }
      .lastDiv--lastgold {
        top: 446px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  span {
    .line {
      width: 800px;
    }
    .backDiv {
      .backDiv--lbgold {
        border-bottom: 800px solid $gold;
        border-right: 800px solid transparent;
        top: -90px;
      }
      .backDiv--lb {
        border-bottom: 710px solid black;
        border-right: 800px solid transparent;
      }
      .backDiv--lt {
        border-top: 710px solid black;
        border-right: 800px solid transparent;
      }
      .backDiv--ltgold {
        border-top: 760px solid $gold;
        border-right: 800px solid transparent;
      }
      .backDiv--rb {
        border-bottom: 710px solid black;
        border-left: 800px solid transparent;
      }
      .backDiv--rbgold {
        border-bottom: 760px solid $gold;
        border-left: 800px solid transparent;
      }
      .backDiv--rt {
        border-top: 710px solid black;
        border-left: 800px solid transparent;
      }
      .backDiv--rtgold {
        border-top: 760px solid $gold;
        border-left: 800px solid transparent;
      }
      .backDiv--para {
        width: 800px;
        height: 1200px;
      }
      .backDiv--paragold {
        width: 800px;
        height: 1210px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  span {
    .line {
      width: 360px;
    }
    .backDiv {
      .backDiv--lbgold {
        border-bottom: 240px solid $gold;
        border-right: 360px solid transparent;
        top: 0px;
      }
      .backDiv--lb {
        margin-top: 40px;
        border-bottom: 200px solid black;
        border-right: 360px solid transparent;
      }
      .backDiv--lt {
        width: 360px;
        height: 185px;
        background-color: black;
        border: 0px;
      }
      .backDiv--ltgold {
        display: none;
      }
      .backDiv--rb {
        display: none;
      }
      .backDiv--rbgold {
        display: none;
      }
      .backDiv--rt {
        display: none;
      }
      .backDiv--rtgold {
        display: none;
      }
      .backDiv--para {
        display: none;
      }
      .backDiv--paragold {
        display: none;
      }
    }
    .lastDiv {
      .lastDiv--last {
        display: none;
      }
      .lastDiv--lastgold {
        display: none;
      }
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  span {
    .line {
      width: 100vw;
    }
    .backDiv {
      .backDiv--lbgold {
        border-bottom: 240px solid $gold;
        border-right: 100vw solid transparent;
        top: 0px;
      }
      .backDiv--lb {
        margin-top: 40px;
        border-bottom: 200px solid black;
        border-right: 100vw solid transparent;
      }
      .backDiv--lt {
        max-width: 100vw;
        height: 185px;
        background-color: black;
        border: 0px;
        filter: $filter;
      }
      .backDiv--ltgold {
        display: none;
      }
      .backDiv--rb {
        display: none;
      }
      .backDiv--rbgold {
        display: none;
      }
      .backDiv--rt {
        display: none;
      }
      .backDiv--rtgold {
        display: none;
      }
      .backDiv--para {
        display: none;
      }
      .backDiv--paragold {
        display: none;
      }
    }
    .lastDiv {
      .lastDiv--last {
        display: none;
      }
      .lastDiv--lastgold {
        display: none;
      }
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
