.res {
  position: absolute;
  width: 100vw;
  height: 40px;
  background: black;
  color: white;
  position: fixed;
  z-index: 100;
  @include flex(row, center, center);
}

#res--logo {
  width: 35px;
  height: 35px;
}
