// .gallery {
//   width: 75%;
//   margin: auto;
//   margin-top: 5%;
// }

// .gallery h3 {
//   text-align: center;
//   text-transform: uppercase;
// }

// .gallery h3::first-letter {
//   color: #ad985e;
// }

// .gallery p {
//   padding-top: 2%;
// }

#backButton {
  color: #ad985e;
  background: transparent;
}

#backButton:hover {
  color: white;
}

// #segTest {
// }

// span {
//   .portfolio {
//     width: 100%;
//     background: yellow;
//   }
// }

span {
  margin-top: 70px;
  .portfolio--gallery {
    padding-top: 50px;
    background: black;
    color: white;
  }
}
