#backButton {
  position: absolute;
  color: $gold;
  background: transparent;
  right: 200px;
  top: 15px;
}

#backButton:hover {
  color: white;
}

.porfolio {
  margin-top: 70px;
  .portfolio--gallery {
    @include flex(column, center);
    // padding-top: 10px;
    color: white;
    background: black;
    width: 100vw;
    height: calc(100vh - (70px));
    .portfolio--frame {
      width: 80vw;
      margin-left: 10vw;
      border-left: 2px solid $gold;
      border-right: 2px solid $gold;
      .portfolio--images {
        padding-left: 3vw;
        width: 60vw;
        padding-right: 10vw;
      }
    }
    & h3 {
      font-family: $Playful;
      font-size: 25px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 0.9px;
      width: 300px;
      position: relative;
      float: right;
      right: 200px;
      padding-top: 80px;
    }
    & p {
      margin-top: 120px;
      position: absolute;
      top: 200px;
      right: 294px;
      width: 400px;
      font-family: $Montserat;
      font-size: 18px;
      line-height: 1.94;
      letter-spacing: 0.5px;
      padding-top: 50px;
    }
    & h2 {
      position: absolute;
      right: 634px;
      font-family: $Montserat;
      font-size: 45px;
      font-weight: bold;
      text-align: center;
      color: $gold;
    }
    & h4 {
      padding-top: 90px;
      position: absolute;
      font-family: $Montserat;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.94;
      letter-spacing: 0.5px;
      left: 1230px;
      top: 480px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .porfolio {
    // margin-top: 0px;
    .portfolio--gallery {
      height: 1200px;
      .portfolio--frame {
        width: 100vw;
        margin-left: 0vw;
        border-left: 0px;
        border-right: 0px;
        .portfolio--images {
          @include flex(column, center);
          position: absolute;
          padding-left: 3vw;
          width: 96vw;
          padding-right: 0vw;
          top: 350px;
        }
      }
      & h3 {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.4;
        letter-spacing: 0.9px;
        width: 250px;
        right: 50px;
        // left: 0px;
        padding-top: 0px;
        top: 120px;
        z-index: 100;
      }
      & p {
        margin-top: 120px;
        top: 55px;
        right: 28px;
        width: 270px;
        font-size: 12px;
        line-height: 1.94;
        letter-spacing: 0.5px;
        padding-top: 0px;
      }
      & h2 {
        width: 100vw;
        right: 40vw;
        font-size: 20px;
        top: 80px;
      }
      & h4 {
        font-size: 14px;
        padding-top: 90px;
        line-height: 1.94;
        left: 20px;
        top: 210px;
      }
    }
    #backButton {
      right: 10px;
      top: 0px;
      width: 10px;
      height: 10px;
    }
  }
}
