#backButton {
  position: absolute;
  color: $gold;
  background: transparent;
  right: 200px;
  top: 15px;
}

#backButton:hover {
  color: white;
}

.porfolio {
  margin-top: 70px;
  .portfolio--gallery {
    @include flex(column, center);
    // padding-top: 10px;
    color: white;
    background: black;
    width: 100vw;
    height: calc(100vh - (70px));
    .portfolio--frame {
      width: 80vw;
      margin-left: 10vw;
      border-left: 2px solid $gold;
      border-right: 2px solid $gold;
      .portfolio--images {
        padding-left: 3vw;
        width: 60vw;
        padding-right: 10vw;
      }
    }
    & h3 {
      font-family: $Playful;
      font-size: 25px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 0.9px;
      width: 300px;
      position: relative;
      float: right;
      // right: 200px;
      left: -196px;
      padding-top: 80px;
    }
    & p {
      margin-top: 120px;
      position: absolute;
      top: 200px;
      // right: 294px;
      left: 1230px;
      width: 400px;
      font-family: $Montserat;
      font-size: 18px;
      line-height: 1.94;
      letter-spacing: 0.5px;
      padding-top: 50px;
    }
    & h2 {
      position: absolute;
      // right: 634px;
      left: 1230px;
      font-family: $Montserat;
      font-size: 45px;
      font-weight: bold;
      text-align: center;
      color: $gold;
    }
    & h4 {
      padding-top: 90px;
      position: absolute;
      font-family: $Montserat;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.94;
      letter-spacing: 0.5px;
      left: 1230px;
      top: 480px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .porfolio {
    // margin-top: 0px;
    .portfolio--gallery {
      .portfolio--frame {
        .portfolio--images {
        }
      }
      & h3 {
        font-size: 20px;
        // right: 80px;
        left: -72px;
      }
      & p {
        width: 300px;
        font-size: 14px;
        // right: 215px;
        left: 856px;
        margin-top: 80px;
      }
      & h2 {
        font-size: 30px;
        // right: 481px;
        left: 856px;
      }
      & h4 {
        font-size: 14px;
        left: 856px;
        padding-top: 40px;
      }
    }
    #backButton {
    }
  }
}

@media only screen and (max-width: 1280px) {
  .porfolio {
    // margin-top: 0px;
    .portfolio--gallery {
      .portfolio--frame {
        .portfolio--images {
        }
      }
      & h3 {
        // right: 60px;
        left: -52px;
      }
      & p {
        left: 798px;
        width: 300px;
        // right: 185px;
        margin-top: 80px;
      }
      & h2 {
        font-size: 30px;
        // right: 451px;
        left: 798px;
      }
      & h4 {
        left: 798px;
        padding-top: 40px;
      }
    }
    #backButton {
    }
  }
}

@media only screen and (max-width: 800px) {
  .porfolio {
    // margin-top: 0px;
    .portfolio--gallery {
      .portfolio--frame {
        .portfolio--images {
        }
      }
      & h3 {
        // right: 60px;
        // position: absolute;
        left: -51px;
      }
      & p {
        width: 300px;
        left: 370px;
        // right: 185px;
        margin-top: 250px;
      }
      & h2 {
        font-size: 30px;
        // right: 451px;
        left: 370px;
      }
      & h4 {
        left: 370px;
        padding-top: 190px;
      }
    }
    #backButton {
      right: 50px;
      top: 50px;
      z-index: 99;
    }
  }
}

@media only screen and (max-width: 360px) {
  .porfolio {
    // margin-top: 0px;
    .portfolio--gallery {
      height: 1120px;
      @include flex(column, space-between);
      .portfolio--frame {
        .portfolio--images {
          position: absolute;
          top: 350px;
          width: 85vw;
        }
      }
      & h3 {
        position: absolute;
        left: 40px;
        font-size: 16px;
        width: 80%;
        top: 0px;
        font-weight: bold;
      }

      & p {
        width: 80%;
        left: 40px;
        margin-top: 0px;
        top: 100px;
        font-size: 12px;
      }
      & h2 {
        font-size: 15px;
        left: 40px;
        top: 40px;
      }
      & h4 {
        left: 40px;
        // padding-top: 50px;
        top: 100px;
      }
    }
    #backButton {
      transform: scale(0.6, 0.6);
      right: -10px;
      top: 20px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .porfolio {
    // margin-top: 0px;
    .portfolio--gallery {
      height: 1000px;
    }
    #backButton {
      transform: scale(0.6, 0.6);
      right: -10px;
      top: 20px;
    }
  }
}
