/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  body {
    background: beige;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  body {
    background: greenyellow;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  body {
    background: gray;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  body {
    background: gold;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  body {
    background: gainsboro;
  }
}