span {
  position: absolute;
  .portfolioHome {
    @include flex(row, space-between, center);
    // position: relative;
    top: 3838px;
    left: 0px;
    width: 100vw;
    height: 721px;
    background-color: white;
    border-top: 2px solid $gold;
    border-bottom: 2px solid $gold;
    .portfolioHome--card {
      width: 24%;
      margin: 2%;
      border-left: 2px solid $gold;
      padding-left: 2%;
      & h3 {
        font-family: $Playful;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        &::first-letter {
          color: $gold;
        }
      }
      & p {
        font-family: $Montserat;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: black;
        font-size: 18px;
        line-height: 1.94;
        letter-spacing: 0.5px;
        width: 100%;
      }
      h4 {
        font-family: $Montserat;
        font-weight: bold;
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  span {
    .portfolioHome {
      // top: 2780px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .portfolioHome {
      height: 600px;
      top: 2700px;
      .portfolioHome--card {
        & h3 {
          font-size: 20px;
        }
        & p {
          font-size: 15px;
        }
        & h4 {
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  span {
    .portfolioHome {
      height: 800px;
      top: 2550px;
    }
  }
}

@media only screen and (max-width: 360px) {
  span {
    .portfolioHome {
      @include flex(column, space-between, center);
      height: 1010px;
      top: 1260px;
      .portfolioHome--card {
        width: 84%;
        margin-top: 10px;
        border-left: 0px;
        padding-left: 0%;
        & h3 {
          margin-top: 10px;
          font-size: 16px;
          &::first-letter {
            color: $gold;
          }
        }
        & p {
          margin-top: 0px;
          font-size: 10px;
        }
        & h4 {
          font-size: 12px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
