span {
  .kontakt {
    z-index: 99;
    position: relative;
    width: 1920px;
    // height: 240px;
    top: 6000px;
    // padding-bottom: 910px;
  }
  .kontakt--naslov {
    color: black;
    font-family: $Playful;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    // top: 130px;
    left: 70px;
  }
  .kontakt--ime {
    width: 400px;
    height: auto;
    padding-right: 0px; 
    font-family: $Playful;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    top: 347px;
    left: 215px;
    padding: 0px;
    margin-right: 0px;
  }
  .kontakt--ime p {
    // margin: 0%;
    text-transform: capitalize;
    color: black;
    font-size: 25px;
  }
  .kontakt--ime p::first-letter {
    color: $gold;
  }
  .kontakt--info {
    font-family: $Playful;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    top: 220px;
    left: 747px;
  }
  .kontakt--info a {
    color: $gold;
  }
  .kontakt--info a:hover {
    color: black;
  }
  #kontakt--face {
    margin: 0;
    padding: 0;
    background: transparent;
    color: $gold;
    position: absolute;
  }
  #kontakt--insta {
    margin: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    color: $gold;
    position: absolute;
    left: 50px;
  }
  #kontakt--face:hover, #kontakt--insta:hover {
    color: black;
  }
  #kontakt--logo {
    position: relative;
    left: 75vw;
    top: 100px;
    cursor: pointer;
  }
  #kontakt--copy {
    width: 300px;
    font-family: $Playful;
    letter-spacing: 1px;
    font-size: 15px;
    position: absolute;
    font-weight: normal;
    top: 320px;
    left: 1.5vw;
    color: white;
  }
  #kontakt--devby {
    color: black;
    font-size: 15px;
    font-family: $Playful;
    position: absolute;
    font-weight: normal;
    text-transform: capitalize;
    top: 300px;
    left: 89vw;
  }
  #kontakt--uon {
    top: 320px;
    left: 87vw;
  }
}
