span {
  .kontakt {
    z-index: 99;
    position: relative;
    width: 1920px;
    top: 5950px;
  }
  .kontakt--naslov {
    color: black;
    font-family: $Playful;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    left: 70px;
  }
  .kontakt--ime {
    width: 400px;
    height: auto;
    padding-right: 0px;
    font-family: $Playful;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    top: 347px;
    left: 215px;
    padding: 0px;
    margin-right: 0px;
    & p {
      text-transform: capitalize;
      color: black;
      font-size: 25px;
      &::first-letter {
        color: $gold;
      }
    }
  }

  .kontakt--info {
    @include flex(column, left, left);
    font-family: $Playful;
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    position: relative;
    top: 220px;
    left: 747px;
    & a {
      color: $gold;
      &:hover {
        color: black;
      }
    }
  }

  #kontakt--face {
    margin: 0;
    padding: 0;
    background: transparent;
    color: $gold;
    position: absolute;
  }
  #kontakt--insta {
    margin: 0;
    padding: 0;
    background: transparent;
    color: $gold;
    position: absolute;
    left: 50px;
  }
  #kontakt--face:hover,
  #kontakt--insta:hover {
    color: black;
  }
  #kontakt--logo {
    position: relative;
    left: 75vw;
    top: 100px;
    cursor: pointer;
  }
  #kontakt--copy {
    width: 300px;
    font-family: $Playful;
    letter-spacing: 1px;
    font-size: 15px;
    position: absolute;
    font-weight: normal;
    top: 400px;
    left: 1.5vw;
    color: white;
  }
  #kontakt--devby {
    min-width: 300px;
    color: black;
    font-size: 15px;
    font-family: $Playful;
    position: absolute;
    font-weight: normal;
    text-transform: capitalize;
    top: 370px;
    left: 89vw;
  }
  #kontakt--uon {
    top: 400px;
    left: 95vw;
  }
}

@media only screen and (max-width: 1366px) {
  span {
    .kontakt {
      width: 1366px;
      top: 4660px;
    }
    .kontakt--naslov {
      font-size: 100px;
      left: 5vw;
      top: 100px;
    }
    .kontakt--ime {
      font-size: 70px;
      top: 380px;
      left: 5vw;
    }
    .kontakt--info {
      @include flex(column, left, left);
      font-size: 20px;
      top: 250px;
      left: 30vw;
      line-height: 40px;
    }
    #kontakt--logo {
      width: 7%;
      left: 60vw;
      top: 180px;
    }
    #kontakt--copy {
      top: 540px;
      left: 2vw;
    }
    #kontakt--devby {
      top: 500px;
      left: 86vw;
    }
    #kontakt--uon {
      top: 530px;
      left: 87vw;
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .kontakt {
      width: 1280px;
      top: 4300px;
      padding-bottom: 0px;
    }
  }
}

@media only screen and (max-width: 800px) {
  span {
    .kontakt {
      top: 3950px;
      height: 3000px;
    }
    .kontakt--ime {
      font-size: 25px;
      top: 300px;
      left: 5vw;
    }
    .kontakt--info {
      font-size: 18px;
      top: 200px;
      left: 35vw;
    }
    #kontakt--logo {
      top: 140px;
      left: 80vw;
    }

    #kontakt--copy {
      top: 410px;
    }
    #kontakt--devby {
      left: 78vw;
      top: 380px;
    }
    #kontakt--uon {
      top: 410px;
      left: 84vw;
    }
  }
}

@media only screen and (max-width: 360px) {
  span {
    .kontakt {
      top: 3550px;
      left: 12px;
      height: 250px;
    }
    .kontakt--naslov {
      top: 0px;
      font-size: 28px;
    }
    .kontakt--ime {
      top: -150px;
      left: 21px;
      @include flex(column, left, top);
      & p {
        font-size: 20px;
      }
    }
    .kontakt--info {
      font-size: 12px;
      top: -130px;
      left: 21px;
    }
    #kontakt--face {
      top: 46px;
      left: 220px;
      transform: scale(0.5, 0.5);
    }
    #kontakt--insta {
      top: 46px;
      left: 260px;
      transform: scale(0.5, 0.5);
    }
    #kontakt--logo {
      top: -305px;
      left: 280px;
    }
    #kontakt--footer {
      width: 360px;
      height: 30px;
      top: -150px;
      left: -12px;
      position: relative;
      background: black;
    }
    #kontakt--copy {
      top: 5px;
      font-size: 9px;
    }
    #kontakt--devby {
      left: 265px;
      top: -22px;
      font-size: 9px;
      color: white;
    }
    #kontakt--uon {
      top: 4px;
      left: 310px;
      transform: scale(0.5, 0.5);
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  span {
    .kontakt--naslov {
      top: -20px;
      font-size: 28px;
    }

    #kontakt--face {
      left: 210px;
    }
    #kontakt--insta {
      left: 240px;
    }
    #kontakt--logo {
      left: 260px;
    }
    #kontakt--footer {
      width: 100vw;
    }

    #kontakt--devby {
      left: 225px;
    }
    #kontakt--uon {
      left: 270px;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
