#homeStart--image {
  position: absolute;
  z-index: -2;
  right: 0px;
  // height: 1010px;
  height: calc(100vh - 70px);
}
#homeStart--small {
  align-self: flex-end;
  z-index: -3;
  top: 80vh;
  width: 1400px;
}
.homeStart--naslov {
  @include flex(column, center, flex-start);
  color: white;
  font-family: $Playful;
  font-size: 60px;
  line-height: 1.43;
  padding-top: 15%;
  padding-left: 5vw;
  & p {
    color: white;
  }
  & h3 {
    margin-top: 100px;
    font-family: $Montserat;
    color: white;
    width: 80vw;
  }
}

@media only screen and (max-width: 1366px) {
  span {
    .homeStart--naslov {
      font-size: 40px;
    }
    #homeStart--image {
      height: calc(100vh - 0px);
    }
    #homeStart--small {
      width: 1100px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .homeStart--naslov {
      font-size: 35px;
    }
    #homeStart--image {
      // width: 100vw;
      // height: calc(100vh - 90px);
    }
    #homeStart--small {
      width: 80vw;
      // right: 0px;
      // align-self: flex-start;
    }
  }
}

@media only screen and (max-width: 800px) {
  span {
    .homeStart--naslov {
      font-size: 30px;
      top: 250px;
      left: 5vw;
      width: 20vw;
    }
    #homeStart--image {
      height: 735px;
    }
    #homeStart--small {
      top: 2600px;
      width: 650px;
    }
  }
}

@media only screen and (max-width: 360px) {
  span {
    .homeStart--naslov {
      top: 100px;
      font-size: 14px;
      & h3,
      h5 {
        display: none;
      }
    }
    #homeStart--image {
      top: 0px;
      height: 240px;
      width: 360px;
    }
    #homeStart--small {
      top: 2100px;
      width: 360px;
      left: -40px;
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  span {
    .homeStart--naslov {
      top: 100px;
      font-size: 14px;
      & h3,
      h5 {
        display: none;
      }
    }
    #homeStart--image {
      top: 0px;
      height: 240px;
      width: 100vw;
    }
    #homeStart--small {
      top: 2020px;
      width: 100vw;
      left: -80px;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
