span {
  #homeStart--image {
    position: relative;
    z-index: -2;
    top: -90px;
    left: 0px;
    height: 50%;
  }
  #homeStart--small {
    z-index: -3;
    top: 3420px;
    width: 1400px;
    float: right;
  }
  .homeStart--naslov {
    position: absolute;
    margin: 3%;
    color: white;
    font-family: $Playful;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    top: 250px;
    left: 100px;
    width: 40vh;
    & p {
      color: white;
    }
    & h3 {
      margin-top: 100px;
      font-family: $Montserat;
      color: white;
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 1366px) {
  span {
    .homeStart--naslov {
      top: 240px;
      left: 5vw;
      font-size: 40px;
    }
    #homeStart--image {
      width: 1366px;
      top: -14px;
    }
    #homeStart--small {
      top: 2700px;
      width: 1100px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .homeStart--naslov {
      font-size: 35px;
      top: 200px;
      left: 100px;
      width: 30vh;
    }
    #homeStart--image {
      top: -22px;
    }
    #homeStart--small {
      top: 2550px;
      width: 1000px;
    }
  }
}

@media only screen and (max-width: 800px) {
  span {
    .homeStart--naslov {
      font-size: 30px;
      top: 250px;
      left: 5vw;
      width: 20vw;
    }
    #homeStart--image {
      height: 735px;
    }
    #homeStart--small {
      top: 2600px;
      width: 650px;
    }
  }
}

@media only screen and (max-width: 360px) {
  span {
    .homeStart--naslov {
      top: 100px;
      font-size: 14px;
      & h3,
      h5 {
        display: none;
      }
    }
    #homeStart--image {
      top: 0px;
      height: 240px;
      width: 360px;
    }
    #homeStart--small {
      top: 2250px;
      width: 360px;
      left: -40px;
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  // span {
  //   .homeStart--naslov {
  //     top: 100px;
  //     font-size: 14px;
  //     & h3,
  //     h5 {
  //       display: none;
  //     }
  //   }
  //   #homeStart--image {
  //     top: 0px;
  //     height: 240px;
  //     width: 100vw;
  //   }
  //   #homeStart--small {
  //     top: 2270px;
  //     width: 100vw;
  //     left: -80px;
  //   }
  // }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
