// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$mojaboja: #000;
$gold: #ad985e;

$Playful: "Playfair Display", serif;
$Montserat: "Montserrat", sans-serif;
