$max_width: 1366px;
$min_width: 320px;
//margins
$max_margin: 1rem;
$min_margin: 0.5rem;
//h1
$h1_weight: 900;
$h1_max: 41px;
$h1_min: 31px;
//h2
$h2_weight: 700;
$h2_max: 31px;
$h2_min: 27px;
//h3
$h3_weight: 600;
$h3_max: 27px;
$h3_min: 20px;
//p
$p_weight: normal;
$p_max: 17px;
$p_min: 17px;
//a
$a_weight: normal;
$a_max: 17px;
$a_min: 17px;
