.omeni {
  z-index: 1;
  padding-top: 200px;
  @include flex(column, space-between, center);
  // flex-basis: 100vw;
  width: 90vw;
  padding-left: 5vw;
}
.omeni--naslov {
  color: white;
  align-self: flex-start;
  // position: relative;
  // left: 70px;
  width: 100vw;
  padding-left: 7vw;
  font-family: $Playful;
  font-size: 200px;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  text-transform: uppercase;
}
.omeni--one {
  align-self: flex-start;
  width: 735px;
  height: auto;
  font-family: $Playful;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: white;
  margin-top: 150px;
  border-left: 2px solid $gold;
  padding-left: 30px;
  &::first-letter {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1;
    color: $gold;
  }
}
.omeni--two {
  align-self: flex-end;
  width: 735px;
  height: auto;
  font-family: $Playful;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: white;
  margin-top: 100px;
  // position: absolute;
  // left: 960px;
  // top: 740px;
  border-left: 2px solid $gold;
  padding-left: 30px;
  &::first-letter {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1;
    color: $gold;
  }
}
.omeni--three {
  align-self: flex-start;
  width: 735px;
  height: auto;
  font-family: $Playful;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: white;
  left: 70px;
  top: 1170px;
  border-left: 2px solid $gold;
  padding-left: 30px;
  margin-top: 100px;
  &::first-letter {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1;
    color: $gold;
  }
}
.omeni--four {
  align-self: flex-end;
  width: 735px;
  height: auto;
  font-family: $Playful;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: white;
  margin-top: 100px;
  border-left: 2px solid $gold;
  padding-left: 30px;
  &::first-letter {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1;
    color: $gold;
  }
}

@media only screen and (max-width: 1366px) {
  span {
    .omeni {
    }
    .omeni--naslov {
      width: 100vw;
      font-size: 100px;
      left: 0;
      padding-left: 0px;
    }
    .omeni--one {
      font-size: 18px;
      width: 50vw;
    }
    .omeni--two {
      font-size: 18px;
      width: 50vw;
    }
    .omeni--three {
      width: 50vw;
      font-size: 18px;
    }
    .omeni--four {
      width: 50vw;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  span {
    .omeni {
      background: black;
      width: 100vw;
      margin-top: 30vh;
      padding: 0px;
      padding-top: 5vh;
      padding-bottom: 5vh;
      border-top: 2px solid $gold;
      height: auto;
    }
    .omeni--naslov {
      // width: 768px;
      padding-left: 5vw;
      font-size: 50px;
    }
    .omeni--one {
      width: 90vw;
      font-size: 14px;
      align-self: center;
      margin-top: 5vh;
    }
    .omeni--two {
      width: 90vw;
      font-size: 14px;
      align-self: center;
      margin-top: 5vh;
    }
    .omeni--three {
      width: 90vw;
      font-size: 14px;
      align-self: center;
      margin-top: 5vh;
    }
    .omeni--four {
      width: 90vw;
      font-size: 14px;
      align-self: center;
      margin-top: 5vh;
    }
  }
}

// @media only screen and (max-width: 800px) {
//   span {
//     .omeni {
//       top: 3400px;
//     }
//     .omeni--naslov {
//       left: 5vw;
//       font-size: 40px;
//     }
//     .omeni--one {
//       width: 350px;
//       font-size: 12px;
//       left: 5vw;
//       top: 80px;
//       &::first-letter {
//         font-size: 25px;
//       }
//     }
//     .omeni--two {
//       width: 350px;
//       font-size: 12px;
//       left: 50vw;
//       top: 350px;
//       &::first-letter {
//         font-size: 25px;
//       }
//     }
//     .omeni--three {
//       width: 350px;
//       font-size: 12px;
//       left: 5vw;
//       top: 650px;
//       &::first-letter {
//         font-size: 25px;
//       }
//     }
//     .omeni--four {
//       width: 350px;
//       font-size: 12px;
//       left: 50vw;
//       top: 950px;
//       &::first-letter {
//         font-size: 25px;
//       }
//     }
//   }
// }

@media only screen and (max-width: 375px) {
  .omeni {
    margin-top: 0px !important;
    .omeni--one,
    .omeni--two,
    .omeni--three,
    .omeni--four {
      font-size: 12px;
    }
  }
}

// /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

// /* Portrait */
// @media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
//   span {
//     .omeni {
//       top: 2449px;
//       height: 1033px;
//       width: 100vw;
//       filter: $filter;
//     }
//     .omeni--naslov {
//     }
//     .omeni--one {
//       width: 270px;
//     }
//     .omeni--two {
//       width: 270px;
//     }
//     .omeni--three {
//       width: 270px;
//     }
//     .omeni--four {
//       width: 270px;
//     }
//   }
// }

// /* Landscape */
// @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
// }
