span {
  .omeni {
    position: absolute;
    z-index: 1;
    top: 4770px;
  }
  .omeni--naslov {
    color: white;
    position: relative;
    left: 70px;
    width: 768px;
    height: 146px;
    font-family: $Playful;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
  }
  .omeni--one {
    width: 735px;
    height: auto;
    font-family: $Playful;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: white;
    position: absolute;
    left: 70px;
    top: 350px;
    border-left: 2px solid $gold;
    padding-left: 30px;
  }
  //   & p::first-letter {
  //     font-size: 50px;
  //     font-weight: bold;
  //     letter-spacing: 1.5px;
  //     line-height: 1;
  //     color: $gold;
  //   }
  .omeni--two {
    width: 735px;
    height: auto;
    font-family: $Playful;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: white;
    position: absolute;
    left: 960px;
    top: 740px;
    border-left: 2px solid $gold;
    padding-left: 30px;
  }
  .omeni--three {
    width: 735px;
    height: auto;
    font-family: $Playful;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: white;
    position: absolute;
    left: 70px;
    top: 1170px;
    border-left: 2px solid $gold;
    padding-left: 30px;
  }
  .omeni--four {
    width: 735px;
    height: auto;
    font-family: $Playful;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: white;
    position: absolute;
    left: 960px;
    top: 1700px;
    border-left: 2px solid $gold;
    padding-left: 30px;
  }
}

//   .drugiParagraf::first-letter {
//     font-size: 50px;
//     font-weight: bold;
//     letter-spacing: 1.5px;
//     line-height: 1;
//     color: #ad985e;
//   }

//   .treciParagraf::first-letter {
//     font-size: 50px;
//     font-weight: bold;
//     letter-spacing: 1.5px;
//     line-height: 1;
//     color: #ad985e;
//   }

//   .cetvrtiParagraf::first-letter {
//     font-size: 50px;
//     font-weight: bold;
//     letter-spacing: 1.5px;
//     line-height: 1;
//     color: #ad985e;
//   }
